In [21]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from datetime import datetime, timedelta

In [ ]:
#Part one: Numpy basis

In [57]:
# 多维数组的创建
# NumPy 的核心是多维数组，是通过 ndarray对象做到的，
# ndarray 对象是一个灵活的数据容器，可以基于此容器对数据进行各种运算

In [19]:
# Demo 1
a1 = np.array([1, 2, 3, 4])
print(a1)
print("shape: ", a1.shape)
print("size: ", a1.size)
print("dtype: ", a1.dtype)
print("type: ", type(a1))

[1 2 3 4]
shape:  (4,)
size:  4
dtype:  int64
type:  <class 'numpy.ndarray'>

In [21]:
# Demo2
a2 = np.array([[1.0, 2.5, 3], [0.5, 4, 9]])
print(a2)
print("shape: ", a2.shape)
print("size: ", a2.size)
print("dtype: ", a2.dtype)
print("min: ", a2.min())
print("type: ", type(a2))
print("demension: ", a2.ndim)    # 获取该ndarray的维度

[[1.  2.5 3. ]
 [0.5 4.  9. ]]
shape:  (2, 3)
size:  6
dtype:  float64
min:  0.5
type:  <class 'numpy.ndarray'>
demension:  2

In [23]:
#Part two: Pandas basis

In [36]:
# Series
# Series 是值的序列，可以理解为一纬数组，它只有一个列和 索引。
# 索引可以定制，当不指定时默认使用整数索引，而且索引可以被命名
s1 = Series([1, 2, 3, 4, 5])
print("【s1】: \n", s1, '\n')
s2 = Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("【s2】: \n", s2)
# print(s2.index.name)
# Changed the index of s2
s2.index.name = 'index'
print(s2.index)
print(s2)

【s1】:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

【s2】:
 a    1
b    2
c    3
d    4
e    5
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='index')
index
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [37]:
# DataFrame
df = DataFrame(np.random.randn(4, 4), index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
print("index: ", df.index)
print("columns: ", df.columns)

          A         B         C         D
a -1.633656  0.114227  0.953976  1.158825
b  0.596153  2.176028  0.013366 -1.812226
c  0.626528 -1.283990  1.226551 -1.120595
d  1.190887 -1.330308 -0.447081 -0.710326
index:  Index(['a', 'b', 'c', 'd'], dtype='object')
columns:  Index(['A', 'B', 'C', 'D'], dtype='object')

In [42]:
###########筛选数据##############
# Series
s2 = Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s2, '\n')
print(s2[0], '\n')    # The first element
print(s2['a'], '\n')    # Select element according to the index
print(s2[0:3], '\n')    # Slice according to sequence
print(s2.iloc[0:3], '\n')
print(s2['a':'c'], '\n')    # Slice according to index
print(s2.loc['a':'c'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

1

1

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

In [55]:
# DataFrame
# 1.选择列
# 1.1 获取单列数据
print('1.获取单列数据')
print(df.A, '\n')
print(df['A'], '\n')

# 1.2 获取多列数据
print('2.获取多列数据')
print(df[df.columns[0:2]], '\n')
print(df.loc[:, ['B', 'C', 'D']], '\n')

# 2.选择行
# 2.1 选择单行数据
print('3.选择单行数据')
print(df.loc['a'], '\n')

# 2.2 选择多行数据
print('4.选择多行数据')
print(df.loc['a':'c'], '\n')

# 3.选择具体某行某列
print('5.选择具体某行某列')
print('第a行第A列：', df.loc['a', 'A'], '\n')
print(df.loc['b':'c', 'B':'C'])

1.获取单列数据
a   -1.633656
b    0.596153
c    0.626528
d    1.190887
Name: A, dtype: float64

a   -1.633656
b    0.596153
c    0.626528
d    1.190887
Name: A, dtype: float64

2.获取多列数据
          A         B
a -1.633656  0.114227
b  0.596153  2.176028
c  0.626528 -1.283990
d  1.190887 -1.330308

          B         C         D
a  0.114227  0.953976  1.158825
b  2.176028  0.013366 -1.812226
c -1.283990  1.226551 -1.120595
d -1.330308 -0.447081 -0.710326

3.选择单行数据
A   -1.633656
B    0.114227
C    0.953976
D    1.158825
Name: a, dtype: float64

4.选择多行数据
          A         B         C         D
a -1.633656  0.114227  0.953976  1.158825
b  0.596153  2.176028  0.013366 -1.812226
c  0.626528 -1.283990  1.226551 -1.120595

5.选择具体某行某列
第a行第A列： -1.6336557125744786

          B         C
b  2.176028  0.013366
c -1.283990  1.226551

In [59]:
###########缺失值和数据自动对齐##############
# 将两个 Series 数据进行相加时，如果存在不同的索引，则结果是两个索引的并集
s1 = Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(s1)
s2 = Series([2, 3, 4, 5], index=['b', 'c', 'd', 'e'])
print(s2, '\n')
print('s1+s2: ')
print(s1 + s2)

a    1
b    2
c    3
d    4
dtype: int64
b    2
c    3
d    4
e    5
dtype: int64

s1+s2:
a    NaN
b    4.0
c    6.0
d    8.0
e    NaN
dtype: float64

In [61]:
df1 = DataFrame(np.arange(9).reshape(3,3), columns=list('ABC'), index=list('abc'))
print(df1)
df2 = DataFrame(np.arange(12).reshape(3,4), columns=list('ABDE'), index=list('bcd'))
print(df2)
print(df1+df2)
# 计算时，可以指定使用值来填充 NaN 值，然后带入计算过程
print(df1.add(df2, fill_value=0))

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8
   A  B   D   E
b  0  1   2   3
c  4  5   6   7
d  8  9  10  11
      A     B   C   D   E
a   NaN   NaN NaN NaN NaN
b   3.0   5.0 NaN NaN NaN
c  10.0  12.0 NaN NaN NaN
d   NaN   NaN NaN NaN NaN
      A     B    C     D     E
a   0.0   1.0  2.0   NaN   NaN
b   3.0   5.0  5.0   2.0   3.0
c  10.0  12.0  8.0   6.0   7.0
d   8.0   9.0  NaN  10.0  11.0

In [7]:
###########常用运算##############
df1 = DataFrame(np.arange(9).reshape(3,3), columns=list('ABC'), index=list('abc'))
print('df1:')
print(df1, '\n')

f = lambda x: x.max() - x.min()    # f is a lambda function
print(df1.apply(f))
print(df1.apply(f, axis=1), '\n')

print(df1.applymap(lambda x: x+1))
print(df1+1)

df1:
   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

A    6
B    6
C    6
dtype: int64
a    2
b    2
c    2
dtype: int64

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9
   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
###########常用统计##############
df2 = DataFrame(np.arange(9).reshape(3,3), columns=list('ABC'), index=list('abc'))
print('df2: ')
print(df2, '\n')

print('sum: ')    # 默认求各列的和
print(df2.sum(), '\n')

print('mean: ')
print(df2.mean(), '\n')

print('各行的和：')
print(df2.sum(axis=1), '\n')

print('Describe: ')
print(df2.describe())

df2:
   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

sum:
A     9
B    12
C    15
dtype: int64

mean:
A    3.0
B    4.0
C    5.0
dtype: float64

各行的和：
a     3
b    12
c    21
dtype: int64

Describe:
         A    B    C
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0

In [9]:
###########数据合并和分组##############
# 有的时候需要合并两个 DataFrame 数据，
# 合并数据的方式主要有两种，
# 一种简单的进行拼接，
# 另一种是根据列名类像数据库表查询一样进行合并。
# 这两种操作可以分别通过调用 pandas.concat 和 pandas.merge 方法实现

In [12]:
# pd.concat()
df1 = DataFrame(np.random.randn(3, 3))
df2 = DataFrame(np.random.randn(3, 3), index=[5, 6, 7])
print('df1: ')
print(df1, '\n')
print('df2: ')
print(df2, '\n')
print('Concat: ')
print(pd.concat([df1, df2]))

df1:
          0         1         2
0  1.603171  0.632921  0.004161
1 -1.393809  1.009721  1.178478
2  0.567075  0.263190  1.226931

df2:
          0         1         2
5  0.881496 -0.708782 -0.470912
6 -0.558005 -0.264529 -1.408893
7 -0.235711  0.282279  0.068476

Concat:
          0         1         2
0  1.603171  0.632921  0.004161
1 -1.393809  1.009721  1.178478
2  0.567075  0.263190  1.226931
5  0.881496 -0.708782 -0.470912
6 -0.558005 -0.264529 -1.408893
7 -0.235711  0.282279  0.068476

In [15]:
# pd.merge()
# 类似于数据库中的 inner join 操作
df1 = DataFrame({'user_id': [5348, 13], 'course': [12, 45], 'minutes': [9, 36]})
df2 = DataFrame({'course': [12, 45], 'name': ['Linux 基础入门', '数据分析']})
print(df1, '\n')
print(df2, '\n')
print(pd.merge(df1, df2))

   user_id  course  minutes
0     5348      12        9
1       13      45       36

   course        name
0      12  Linux 基础入门
1      45        数据分析

   user_id  course  minutes        name
0     5348      12        9  Linux 基础入门
1       13      45       36        数据分析

In [20]:
# group by 操作
df = DataFrame({'user_id': [5348, 13, 5348], 'course': [12, 45, 23], 'minutes': [9, 36, 45]})
print(df, '\n')
print(df[df['user_id'] == 5348]['minutes'].sum(), '\n')
print(df[['user_id', 'minutes']], '\n')
print(df[['user_id', 'minutes']].groupby('user_id').sum())

   user_id  course  minutes
0     5348      12        9
1       13      45       36
2     5348      23       45

54

   user_id  minutes
0     5348        9
1       13       36
2     5348       45

         minutes
user_id
13            36
5348          54

In [28]:
###########时间序列处理##############
dates = [datetime(2018, 1, 1), datetime(2018, 1, 2), datetime(2018, 1, 3), datetime(2018, 1,4)]
ts = Series(np.random.randn(4), index=dates)
print(ts)
print(ts.index)
ts.index[0]

2018-01-01   -0.601780
2018-01-02    1.269104
2018-01-03   -0.923605
2018-01-04    1.914095
dtype: float64
DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04'], dtype='datetime64[ns]', freq=None)

Timestamp('2018-01-01 00:00:00')

In [37]:
# pandas.date_range 函数的参数：start、end、periods、freq
print(pd.date_range('2019-1-1', '2020', freq='M'))
print(pd.date_range('2019-1-1', '2019-12-1', freq='MS'))

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [39]:
# resample 方法 不仅仅支持高频率的数据聚合到低频率 （降采样），也支持低频率转化到高频率统计（升采样）
dates = pd.date_range('2018-1-1', '2018-1-2 23:00:00', freq='H')
print(dates)
ts = Series(np.arange(len(dates)), index=dates)
print(ts)
print('size: ', ts.size)
print(ts.head(5))
print(ts.tail(5))

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-02 00:00:00', '2018-01-02 01:00:00',
               '2018-01-02 02:00:00', '2018-01-02 03:00:00',
               '2018-01-02 04:00:00', '2018-01-02 05:00:00',
               '2018-01-02 06:00:00', '2018-01-02 07:00:00',
               '2018-01-02 08:00:00', '2018-01-02 09:00:00',
               '2018-01-02 10:00:00', '2018-01-02 11:00:00',
               '2018-01-02 12:00:00', '2018-01-02 13:00:00',
               '2018-01-02 14:00:00', '2018-01-02 15:00:00',
               '2018-01-02 16:00:00', '2018-01-02 17:00:00',
               '2018-01-02 18:00:00', '2018-01-02 19:00:00',
               '2018-01-02 20:00:00', '2018-01-02 21:00:00',
               '2018-01-02 22:00:00', '2018-01-02 23:00:00'],
              dtype='datetime64[ns]', freq='H')
2018-01-01 00:00:00     0
2018-01-01 01:00:00     1
2018-01-01 02:00:00     2
2018-01-01 03:00:00     3
2018-01-01 04:00:00     4
2018-01-01 05:00:00     5
2018-01-01 06:00:00     6
2018-01-01 07:00:00     7
2018-01-01 08:00:00     8
2018-01-01 09:00:00     9
2018-01-01 10:00:00    10
2018-01-01 11:00:00    11
2018-01-01 12:00:00    12
2018-01-01 13:00:00    13
2018-01-01 14:00:00    14
2018-01-01 15:00:00    15
2018-01-01 16:00:00    16
2018-01-01 17:00:00    17
2018-01-01 18:00:00    18
2018-01-01 19:00:00    19
2018-01-01 20:00:00    20
2018-01-01 21:00:00    21
2018-01-01 22:00:00    22
2018-01-01 23:00:00    23
2018-01-02 00:00:00    24
2018-01-02 01:00:00    25
2018-01-02 02:00:00    26
2018-01-02 03:00:00    27
2018-01-02 04:00:00    28
2018-01-02 05:00:00    29
2018-01-02 06:00:00    30
2018-01-02 07:00:00    31
2018-01-02 08:00:00    32
2018-01-02 09:00:00    33
2018-01-02 10:00:00    34
2018-01-02 11:00:00    35
2018-01-02 12:00:00    36
2018-01-02 13:00:00    37
2018-01-02 14:00:00    38
2018-01-02 15:00:00    39
2018-01-02 16:00:00    40
2018-01-02 17:00:00    41
2018-01-02 18:00:00    42
2018-01-02 19:00:00    43
2018-01-02 20:00:00    44
2018-01-02 21:00:00    45
2018-01-02 22:00:00    46
2018-01-02 23:00:00    47
Freq: H, dtype: int64
size:  48
2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: H, dtype: int64
2018-01-02 19:00:00    43
2018-01-02 20:00:00    44
2018-01-02 21:00:00    45
2018-01-02 22:00:00    46
2018-01-02 23:00:00    47
Freq: H, dtype: int64

In [41]:
ts.resample('D').sum()

2018-01-01    276
2018-01-02    852
Freq: D, dtype: int64

In [42]:
ts.resample('D').mean()

2018-01-01    11.5
2018-01-02    35.5
Freq: D, dtype: float64

In [44]:
# 当把低频率的数据转换成高频率的数据时，默认情况下 Pandas 会引入 NaN 值，
# 因为没办法从低频率的数据计算出高频率的数据， 但可以通过 fill_method 参数指定插值方式
print(ts.resample('D').mean().resample('H').mean(), '\n')
print(ts.resample('D').mean().resample('H').ffill())

2018-01-01 00:00:00    11.5
2018-01-01 01:00:00     NaN
2018-01-01 02:00:00     NaN
2018-01-01 03:00:00     NaN
2018-01-01 04:00:00     NaN
2018-01-01 05:00:00     NaN
2018-01-01 06:00:00     NaN
2018-01-01 07:00:00     NaN
2018-01-01 08:00:00     NaN
2018-01-01 09:00:00     NaN
2018-01-01 10:00:00     NaN
2018-01-01 11:00:00     NaN
2018-01-01 12:00:00     NaN
2018-01-01 13:00:00     NaN
2018-01-01 14:00:00     NaN
2018-01-01 15:00:00     NaN
2018-01-01 16:00:00     NaN
2018-01-01 17:00:00     NaN
2018-01-01 18:00:00     NaN
2018-01-01 19:00:00     NaN
2018-01-01 20:00:00     NaN
2018-01-01 21:00:00     NaN
2018-01-01 22:00:00     NaN
2018-01-01 23:00:00     NaN
2018-01-02 00:00:00    35.5
Freq: H, dtype: float64

2018-01-01 00:00:00    11.5
2018-01-01 01:00:00    11.5
2018-01-01 02:00:00    11.5
2018-01-01 03:00:00    11.5
2018-01-01 04:00:00    11.5
2018-01-01 05:00:00    11.5
2018-01-01 06:00:00    11.5
2018-01-01 07:00:00    11.5
2018-01-01 08:00:00    11.5
2018-01-01 09:00:00    11.5
2018-01-01 10:00:00    11.5
2018-01-01 11:00:00    11.5
2018-01-01 12:00:00    11.5
2018-01-01 13:00:00    11.5
2018-01-01 14:00:00    11.5
2018-01-01 15:00:00    11.5
2018-01-01 16:00:00    11.5
2018-01-01 17:00:00    11.5
2018-01-01 18:00:00    11.5
2018-01-01 19:00:00    11.5
2018-01-01 20:00:00    11.5
2018-01-01 21:00:00    11.5
2018-01-01 22:00:00    11.5
2018-01-01 23:00:00    11.5
2018-01-02 00:00:00    35.5
Freq: H, dtype: float64