In [2]:
# Import package
import numpy as np
import pandas as pd

In [6]:
null_data = {'A': [10, np.nan, 25, np.nan, 42, np.nan],
             'B': [12, 15, np.nan, 14, 17, np.nan],
             'C': [10, 13, 27, 13, 19, 40]}

In [8]:
df = pd.DataFrame(null_data)
df

      A     B   C
0  10.0  12.0  10
1   NaN  15.0  13
2  25.0   NaN  27
3   NaN  14.0  13
4  42.0  17.0  19
5   NaN   NaN  40

In [15]:
# Delete the missing value
print(df.dropna(axis=1))
print(df.dropna(how='all'))
print(df.dropna(thresh=2))

    C
0  10
1  13
2  27
3  13
4  19
5  40
      A     B   C
0  10.0  12.0  10
1   NaN  15.0  13
2  25.0   NaN  27
3   NaN  14.0  13
4  42.0  17.0  19
5   NaN   NaN  40
      A     B   C
0  10.0  12.0  10
1   NaN  15.0  13
2  25.0   NaN  27
3   NaN  14.0  13
4  42.0  17.0  19

In [ ]:
# Fill the missing value