In [2]:
import json
import pandas as pd

In [3]:
with open('user_study.json') as file:
    user_study_data = json.loads(file.read())

In [ ]:
type(user_study_data)

In [6]:
user_study_data[1]

{'minutes': 6,
 'created_at': '2016-05-01 00:00:15',
 'user_id': 199373,
 'lab': 'Linux 系统简介',
 'course': 'Linux 基础入门（新版）'}

In [4]:
df = pd.read_json('user_study.json')
#pd.read_json('user_study.json')

In [6]:
user_id = 5348
df[df['user_id'] == user_id]

             course          created_at                lab  minutes  user_id
28281    新手指南之玩转实验楼 2016-05-20 09:26:58   Hello，ShiYanLou!        6     5348
28317    新手指南之玩转实验楼 2016-05-20 09:49:15   Hello，ShiYanLou!        6     5348
37542    新手指南之玩转实验楼 2016-05-26 17:00:37   Hello，ShiYanLou!        9     5348
87504  Node.js包教不包会 2016-06-28 13:14:46  一个最简单的 express 应用        3     5348

In [8]:
df[df['user_id'] == user_id]['minutes'].sum()

24

In [9]:
times = len(df[df['user_id'] == user_id])
minutes = df[df['user_id'] == user_id]['minutes'].sum()
print('times: ', times)
print('minutes: ', minutes)

times:  4
minutes:  24